<div class="robot-comp-wrap">
  <div class="robot-section">
    <h2 class="main-heading">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis,
      dignissimos?
    </h2>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="btn-wrap text-align-left">
          <h2 class="btn-time-heading">כשהלקוח שולח את ההודעה:</h2>
          <button mat-raised-button color="primary" class="btn-time">
            בוא נתחיל
          </button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="btn-wrap">
          <h2 class="btn-without-time-heading">
            כשהלקוח שולח את ההודעה: 
          </h2>
          <button mat-raised-button color="primary" class="btn-without-time">
            בוא נתחיל<br />
            שהלקוח שולח את ההודעה:<br />שהלקוח שולח את ההודעה:
          </button>
        </div>
      </div>
    </div>
    <div class="col-12" class="main-icon">
      <img class="plus-circle" src="assets/plusGreen.png" alt="" />
    </div>
  </div>
</div>
