<div class="automatic-response-comp">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
          <div class="main-text-area">
            <h2 class="main-text">
              ברגע שמישהו שולח הודעה לעסק שלך, המערכת תגיב ללקוח באופן אוטומטי לפי ההודעה הבאה:
            </h2>
            <div class="text-area-wrap">
              <textarea
                rows="8"
                class="text-area"
                placeholder="הכנס הודעה..."
              ></textarea>
              <div class="arrow-right"></div>
            </div>
            <div class="message-time">
              <!-- <span class="time-with-title"> פעיל משעה: <span class="time">08:00</span> </span> -->
              <!-- <span class="time-with-title"> עד:<span class="time">11:00</span> </span> -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 align-self-center">
          <div class="send-btn">
            <img src="assets/plusGreen.png" alt="" />
            <p class="btn-title">הודעה חדשה</p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="img-section">
        <img class="mobile-img" src="assets/phone2.png" />
        <img class="border-img" src="assets/border.png" />
      </div>
    </div>
  </div>
</div>
