<div class="success-comp-wrap">
  <div class="success-section">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <img src="../../../assets/hollow.png" class="robot-img" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="text-section">
          <h4 class="main-sec-heading">כשהלקוח שולח את ההודעה:</h4>
          <p class="sub-sec-heading">ניתן להכניס מילה אחת או ביטוי של שתי מילים</p>
          <button mat-raised-button color="primary" class="robot-button">
            הכנס טקסט...
          </button>
          <h4 class="main-sec-heading mt-4">כשהלקוח שולח את ההודעה:</h4>
          <p class="sub-sec-heading">ניתן להכניס מילה אחת או ביטוי של שתי מילים</p>
          <div class="row my-button-row">
            <div class="col-md-6">
              <button
                mat-raised-button
                color="primary"
                class="signup-button second-signup-btn"
              >
              הודעת טקסט...
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button color="primary" class="signup-button">
                קבצים<br> WORD, PNG, PDF, PNJ, PPTX

              </button>
            </div>
            <div class="col-sm-3">
              <button mat-raised-button color="primary" class="cancel-button">
                xבטל
              </button>
            </div>
            <div class="col-sm-9">
              <button mat-raised-button color="primary" class="send-button">
                בוא נתחיל
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
